modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "gh"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0", "stripe:2.0.0", "javascript_paypal:1.0.0"]

[userenv]

[userenv.shared]
PAYPAL_CLIENT_ID = "AbHhMwfn29m4CsTUtqTTrTqV27uXxRho4yCUbLX13PDpKXDObCiFKVU6p3koPuoX4-iRoBp1XT3KFOKD"
PAYPAL_MODE = "live"
VITE_GA_MEASUREMENT_ID = "G-7BLQCV91T6"

[userenv.development]
APP_URL = "https://d249d3f6-43db-41f6-9a74-d7c50aa6969b-00-1iqop82skn7hh.spock.replit.dev"

[userenv.production]
APP_URL = "https://tradifyapp.com"

[objectStorage]
defaultBucketID = "replit-objstore-8936a1f8-2dad-4729-b100-8306e576f172"
