modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "gh", "imagemagick", "ffmpeg"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3000

[[ports]]
localPort = 23637
externalPort = 3003

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0", "stripe:1.0.0", "javascript_paypal:1.0.0"]

[userenv]

[userenv.shared]
PAYPAL_CLIENT_ID = "AbHhMwfn29m4CsTUtqTTrTqV27uXxRho4yCUbLX13PDpKXDObCiFKVU6p3koPuoX4-iRoBp1XT3KFOKD"
PAYPAL_MODE = "live"
VITE_GA_MEASUREMENT_ID = "G-7BLQCV91T6"
PAYPAL_PLAN_ID = "P-7XY63808VD878314FNGI3A3A"
PAYPAL_ELITE_PLAN_ID = "P-7W920780YH3568704NGI3CLI"
PAYPAL_PRO_ANNUAL_PLAN_ID = "P-0LP79501VL12S811GNGI3ECA"
PAYPAL_ELITE_ANNUAL_PLAN_ID = "P-1FE79605AP8939451NGI3EJI"
PAYPAL_FM_PRO_PLAN_ID = "P-1JY68025AN282864DNGI3YVI"
PAYPAL_FM_PRO_ANNUAL_PLAN_ID = "P-5J172530VB215124BNGI3Y5Y"
PAYPAL_FM_ELITE_PLAN_ID = "P-87627503YN273162BNGI3ZFQ"
PAYPAL_FM_ELITE_ANNUAL_PLAN_ID = "P-8C720231Y37981007NGI3ZNA"
PAYPAL_COACH_PLAN_ID = "P-57S407460B642654MNH3VGYA"
PAYPAL_COACH_ANNUAL_PLAN_ID = "P-7SM41270PV6418719NH3VHRY"
PAYPAL_FM_COACH_PLAN_ID = "P-70A22215FX092904LNH3VKDI"
PAYPAL_FM_COACH_ANNUAL_PLAN_ID = "P-7FD10062DY810761LNH3VKTI"

[userenv.development]
APP_URL = "https://d249d3f6-43db-41f6-9a74-d7c50aa6969b-00-1iqop82skn7hh.spock.replit.dev"

[userenv.production]
APP_URL = "https://tradifyapp.com"
ADMIN_EMAIL = "mohammad@admin.com"

[objectStorage]
defaultBucketID = "replit-objstore-8936a1f8-2dad-4729-b100-8306e576f172"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
